<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if ss.0  %}
        <p>BMI = {{b}} and You: {{ls[0]}}</p>  
    {% elif ss.1 %}
        <p>BMI = {{b}} and You: {{ls[1]}}</p>
    {% elif ss.2 %}
        <p>BMI = {{b}} and You: {{ls[2]}}</p>
    {% elif ss.3 %}
        <p>BMI = {{b}} and You: {{ls[1]}}</p>
    {% elif ss.4 %}
        <p>BMI = {{b}} and You: {{ls[1]}}</p>
    {% endif %}
</body>
</html>